## Metadata
This file looks at patient information 

**Data Dictionary**
- patient_id
- age
- sex
- height
- weight 
- nurse
- site
- device
- recording_date
- report
- scp_codes
- heart_axis
- infarction_stadium1
- infarction_stadium2
- validated_by
- second_opinion
- initial_autogenerated_report
- validated_by_human
- baseline_drift
- static_noise
- burst_noise
- electrodes_problems
- extra_beats
- pacemaker
- strat_fold
- filename_lr
- filename_hr

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
metadata = pd.read_csv('../data/physionet.org/files/ptb-xl/1.0.3/ptbxl_database.csv')
metadata = metadata.set_index('ecg_id')

In [18]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21799 entries, 1 to 21837
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   patient_id                    21799 non-null  float64
 1   age                           21799 non-null  float64
 2   sex                           21799 non-null  int64
 3   height                        6974 non-null   float64
 4   weight                        9421 non-null   float64
 5   nurse                         20326 non-null  float64
 6   site                          21782 non-null  float64
 7   device                        21799 non-null  object
 8   recording_date                21799 non-null  object
 9   report                        21799 non-null  object
 10  scp_codes                     21799 non-null  object
 11  heart_axis                    13331 non-null  object
 12  infarction_stadium1           5612 non-null   object
 13  infarction_stadium2           103 non-null    object
 14  validated_by                  12421 non-null  float64
 15  second_opinion                21799 non-null  bool
 16  initial_autogenerated_report  21799 non-null  bool
 17  validated_by_human            21799 non-null  bool
 18  baseline_drift                1598 non-null   object
 19  static_noise                  3260 non-null   object
 20  burst_noise                   613 non-null    object
 21  electrodes_problems           30 non-null     object
 22  extra_beats                   1949 non-null   object
 23  pacemaker                     291 non-null    object
 24  strat_fold                    21799 non-null  int64
 25  filename_lr                   21799 non-null  object
 26  filename_hr                   21799 non-null  object
dtypes: bool(3), float64(7), int64(2), object(15)
memory usage: 4.2+ MB

In [17]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(metadata.head())
    display(metadata.tail())

,patient_id,age,sex,height,weight,nurse,site,device,recording_date,report,scp_codes,heart_axis,infarction_stadium1,infarction_stadium2,validated_by,second_opinion,initial_autogenerated_report,validated_by_human,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr
ecg_id,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,15709.0,56.0,1,NaN,63.0,2.0,0.0,CS-12 E,1984-11-09 09:17:34,sinusrhythmus periphere niederspannung,"{'NORM': 100.0, 'LVOLT': 0.0, 'SR': 0.0}",NaN,NaN,NaN,NaN,False,False,True,NaN,", I-V1,",NaN,NaN,NaN,NaN,3,records100/00000/00001_lr,records500/00000/00001_hr
2,13243.0,19.0,0,NaN,70.0,2.0,0.0,CS-12 E,1984-11-14 12:55:37,sinusbradykardie sonst normales ekg,"{'NORM': 80.0, 'SBRAD': 0.0}",NaN,NaN,NaN,NaN,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00002_lr,records500/00000/00002_hr
3,20372.0,37.0,1,NaN,69.0,2.0,0.0,CS-12 E,1984-11-15 12:49:10,sinusrhythmus normales ekg,"{'NORM': 100.0, 'SR': 0.0}",NaN,NaN,NaN,NaN,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00003_lr,records500/00000/00003_hr
4,17014.0,24.0,0,NaN,82.0,2.0,0.0,CS-12 E,1984-11-15 13:44:57,sinusrhythmus normales ekg,"{'NORM': 100.0, 'SR': 0.0}",NaN,NaN,NaN,NaN,False,False,True,", II,III,AVF",NaN,NaN,NaN,NaN,NaN,3,records100/00000/00004_lr,records500/00000/00004_hr
5,17448.0,19.0,1,NaN,70.0,2.0,0.0,CS-12 E,1984-11-17 10:43:15,sinusrhythmus normales ekg,"{'NORM': 100.0, 'SR': 0.0}",NaN,NaN,NaN,NaN,False,False,True,", III,AVR,AVF",NaN,NaN,NaN,NaN,NaN,4,records100/00000/00005_lr,records500/00000/00005_hr

,patient_id,age,sex,height,weight,nurse,site,device,recording_date,report,scp_codes,heart_axis,infarction_stadium1,infarction_stadium2,validated_by,second_opinion,initial_autogenerated_report,validated_by_human,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr
ecg_id,,,,,,,,,,,,,,,,,,,,,,,,,,,
21833,17180.0,67.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-05-31 09:14:35,ventrikulÄre extrasystole(n) sinustachykardie ...,"{'NDT': 100.0, 'PVC': 100.0, 'VCLVH': 0.0, 'ST...",LAD,NaN,NaN,1.0,False,True,True,NaN,", alles,",NaN,NaN,1ES,NaN,7,records100/21000/21833_lr,records500/21000/21833_hr
21834,20703.0,300.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-05 11:33:39,sinusrhythmus lagetyp normal qrs(t) abnorm ...,"{'NORM': 100.0, 'ABQRS': 0.0, 'SR': 0.0}",MID,Stadium II-III,NaN,1.0,False,True,True,NaN,NaN,NaN,NaN,NaN,NaN,4,records100/21000/21834_lr,records500/21000/21834_hr
21835,19311.0,59.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-08 10:30:27,sinusrhythmus lagetyp normal t abnorm in anter...,"{'ISCAS': 50.0, 'SR': 0.0}",MID,NaN,NaN,1.0,True,True,True,NaN,", I-AVR,",NaN,NaN,NaN,NaN,2,records100/21000/21835_lr,records500/21000/21835_hr
21836,8873.0,64.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-09 18:21:49,supraventrikulÄre extrasystole(n) sinusrhythmu...,"{'NORM': 100.0, 'SR': 0.0}",LAD,NaN,NaN,1.0,False,True,True,NaN,NaN,NaN,NaN,SVES,NaN,8,records100/21000/21836_lr,records500/21000/21836_hr
21837,11744.0,68.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-11 16:43:01,sinusrhythmus p-sinistrocardiale lagetyp norma...,"{'NORM': 100.0, 'SR': 0.0}",MID,NaN,NaN,1.0,False,True,True,NaN,", I-AVL,",NaN,NaN,NaN,NaN,9,records100/21000/21837_lr,records500/21000/21837_hr

### Data Cleaning

Let's look at the data column by column to identify Nulls and see what we can do with them. 

**Patient ID**

In [20]:
# Null values
metadata['patient_id'].isna().sum()

0

In [23]:
# Unique ids
metadata['patient_id'].value_counts()

patient_id
9898.0     10
10107.0     9
8304.0      9
17542.0     9
8810.0      8
           ..
12993.0     1
17525.0     1
14740.0     1
20297.0     1
11744.0     1
Name: count, Length: 18869, dtype: int64

We see that in `patient_id` there is a total of 21837 rows but only 18869 are unique.

**Age**

In [26]:
# Null values
metadata['age'].isna().sum()

0

In [28]:
# Unique age groups
metadata['age'].value_counts()

age
67.0    558
68.0    553
65.0    551
66.0    537
54.0    530
       ...
9.0       2
12.0      2
2.0       1
6.0       1
7.0       1
Name: count, Length: 89, dtype: int64

We also see that `age` does **not** contain any Null values and has 89 unique ages.